<a href="https://colab.research.google.com/github/franciscofijamo/0-to-DS/blob/master/FTC_cicle_04_DE(Exercices_Data_Manipulation).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

In [1]:
# Criando dicion√°rios
dicionario_vazio = {}
usuarios = {
"nome" : "Meigarom",
"idade" : [34, 18, 19, 30, 30, 36, 25, 36],
"cidade" : ["Indaiatuba", "Arcos", "Ouro Fino", "Itapira", "Curitiba"]}

In [2]:
usuarios['cidade']

['Indaiatuba', 'Arcos', 'Ouro Fino', 'Itapira', 'Curitiba']

# Dataframes

In [5]:
import pandas as pd

In [4]:
#data = pd.read_csv("/content/train.csv")

FileNotFoundError: ignored

In [ ]:
#data.head(11)

In [ ]:
# 1. Qual o valor da informa√ß√£o armazenada na linha 30 e na coluna 10?
#data.iloc[30,11]

In [ ]:
#2. Selecione as linhas 0 a 20 e as colunas 0 a 2

#data.iloc[:21, 0:2]

In [ ]:
# 3. Seleciona as linhas 5 a 30 e a coluna ‚ÄúDelivery_person_Age‚Äù

#data.loc[5:31,"Delivery_person_Age"]

In [ ]:
#  Selecione as linhas 40 a 42 e as seguintes colunas: ‚ÄúRestaurant_latitude‚Äù,
#‚ÄúRestaurant_longitude‚Äù, "Delivery_location_latitude‚Äù,
#‚ÄúDelivery_location_longitude‚Äù


#data.loc[40:43,["Restaurant_longitude","Delivery_location_latitude","Delivery_location_longitude"]]

In [ ]:
#  Qual a menor data de entrega da coluna ‚ÄúOrder_Date‚Äù entre as linhas 0 a 50?

min(data.loc[:51, "Order_Date"])

In [ ]:
#Qual a menor data de entrega da coluna ‚Äú Time_Orderd ‚Äù entre as linhas 0 a 50?

min(data.loc[:51, "Time_Orderd"])

In [ ]:
# 7. Quais os nomes √∫nicos da coluna ‚ÄúCity‚Äù entre as linhas 50 e 70?

data.City[50:71].value_counts()

In [ ]:
#Quais os nomes √∫nicos da coluna ‚ÄúWeatherconditions‚Äù entre as linhas 0 e 10?
data["Weatherconditions"][:11].value_counts()

In [ ]:
# Quais os tipos de densidade de tr√¢nsito presente na coluna ‚ÄúRoad_traffic_density ‚Äù entre as linhas 0 a 20?
data["Road_traffic_density"][:21].value_counts()

In [ ]:
#10. Qual o ID do entregador de comida mais velho entre as colunas 50 e 70?

data[['Delivery_person_ID', "Delivery_person_Age" ]][50:71]
#aux.sort_values("Delivery_person_Age", ascending=False)

In [ ]:
data[['Delivery_person_ID', "Delivery_person_Age" ]][50:71].sort_values("Delivery_person_Age", ascending=False).iloc[0,0]

In [ ]:
# 11. Qual o ID do entregador de comida com a melhor avalia√ß√£o de entrega entre as linhas 50 e 70?
data[["Delivery_person_ID", "Delivery_person_Ratings"]][50:71].sort_values("Delivery_person_Ratings", ascending = False).iloc[0,0]

In [ ]:
data.columns

# Data amanipulation

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("train.csv")

In [11]:
data.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [19]:
#FILTERS Separating steps
conditions_true = (data['Delivery_person_Age'] > '35') &( data['Road_traffic_density'] == 'High ')
cols_return = ['ID', 'Delivery_person_Age']


data.loc[conditions_true, cols_return]

            ID Delivery_person_Age
0      0x4607                   37
32     0xd681                   38
99     0x1236                   36
122    0x99e7                   37
149    0x9693                   37
...        ...                 ...
45343  0x6185                 NaN
45377  0x8f78                   38
45383  0x7c6a                   39
45548  0xb0e4                   39
45553  0x46b6                   36

[1015 rows x 2 columns]

In [16]:
# FILTERS in one line
data.loc[(data['Delivery_person_Age'] > '35') &( data['Road_traffic_density'] == 'High '), ['ID', 'Delivery_person_Age']]

            ID Delivery_person_Age
0      0x4607                   37
32     0xd681                   38
99     0x1236                   36
122    0x99e7                   37
149    0x9693                   37
...        ...                 ...
45343  0x6185                 NaN
45377  0x8f78                   38
45383  0x7c6a                   39
45548  0xb0e4                   39
45553  0x46b6                   36

[1015 rows x 2 columns]

# Manipulating DataFrame

In [20]:
# lines and columns
data.shape

(45593, 20)

In [23]:
# last lines
data.tail()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,(min) 32
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 16
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,(min) 26
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,(min) 36

In [26]:
# data types
data.dtypes

ID                              object
Delivery_person_ID              object
Delivery_person_Age             object
Delivery_person_Ratings         object
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Weatherconditions               object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries             object
Festival                        object
City                            object
Time_taken(min)                 object
dtype: object

In [28]:
# Unique values
data['Type_of_order'].unique()

array(['Snack ', 'Drinks ', 'Buffet ', 'Meal '], dtype=object)

In [32]:
# ascending column
data.sort_values('Delivery_person_Ratings', ascending = False)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
33832,0xd62,MYSRES13DEL01,NaN,NaN,12.310972,76.659264,12.350972,76.699264,03-03-2022,NaN,16:30:00,conditions Sunny,Medium,1,Meal,motorcycle,1,No,Metropolitian,(min) 15
36136,0x426a,VADRES04DEL01,NaN,NaN,0.000000,0.000000,0.010000,0.010000,03-03-2022,08:20:00,08:25:00,conditions Cloudy,Low,2,Drinks,electric_scooter,0,No,Metropolitian,(min) 15
36116,0x6179,CHENRES02DEL02,NaN,NaN,13.086438,80.220672,13.136439,80.270672,01-03-2022,NaN,23:10:00,conditions Sandstorms,Low,1,Meal,scooter,1,No,Metropolitian,(min) 21
24275,0xc7f6,BHPRES20DEL03,NaN,NaN,23.235123,77.398886,23.265123,77.428886,15-02-2022,NaN,23:10:00,conditions Stormy,Low,0,Drinks,motorcycle,1,No,Metropolitian,(min) 32
36083,0x4265,PUNERES15DEL03,NaN,NaN,18.636215,73.751081,18.726215,73.841081,16-03-2022,NaN,21:25:00,conditions Stormy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26917,0x6e0,CHENRES06DEL03,15,1,13.054347,80.257221,13.114347,80.317221,01-03-2022,NaN,18:20:00,conditions NaN,NaN,3,Meal,electric_scooter,1,No,Urban,(min) 21
11125,0x40b,SURRES12DEL01,15,1,-21.183434,-72.814492,21.193434,72.824492,05-03-2022,NaN,11:30:00,conditions NaN,NaN,3,Meal,scooter,1,No,Urban,(min) 27
34953,0x85c,COIMBRES17DEL02,15,1,11.026117,76.944652,11.046117,76.964652,09-03-2022,NaN,09:10:00,conditions NaN,NaN,3,Snack,scooter,1,No,Metropolitian,(min) 19
12093,0x523,INDORES03DEL02,15,1,22.751857,75.866699,22.801857,75.916699,24-03-2022,NaN,21:15:00,conditions NaN,NaN,3,Buffet,bicycle,0,No,Metropolitian,(min) 28
28003,0x406,PUNERES14DEL01,15,1,18.516216,73.842527,18.586216,73.912527,27-03-2022,NaN,19:30:00,conditions NaN,NaN,3,Buffet,scooter,1,No,Metropolitian,(min) 38